config ZMK_PM_SOFT_OFF
	default y
config ZMK_POINTING
	default y


if SHIELD_OTTER_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Otter"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_OTTER_LEFT || SHIELD_OTTER_RIGHT || SHIELD_OTTER_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif